body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    font-size: 50px;
    text-align: center;
  }

  img {
    height: 102px;
    width: 102px;
  }
  h2 {
    color: crimson;
    font-size: 2em;
    text-align: center;
    padding: 0px;
  }

  .button {
    border: solid;
    padding: 5px;
    color: blue;
  }